/.env
/.env.local
/.env.local.php
/.env.*.local

/node_modules
/node_modules/
/node_modules/*

/build
/build/
/build/*

###> symfony/webpack-encore-bundle ###
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
