<h1>Hello {{ model.recipient }}!</h1>

<p>
    You have requested to reset your password using the following email:
</p>
<p><code>{{ model.recipient }}</code></p>

<p>
    <a href="http://localhost/#/confirm_password/{{ model.token }}">
        Click here to reset your account
    </a>
    {# (this link is valid until {{ model.expiration|date('F jS') }}) #}
</p>