/.env
/.env.local
/.env.local.php
/.env.*.local

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/config/jwt
/bin

###> testing results ###
/tests/phpcs-cache
/tests/unit/.phpunit.result.cache
/tests/default.xml
###> testing results ###
